@mixin dashboard-keyframes {

@-webkit-keyframes spinner {
	0% { background-position: 0 0;}
	100% { background-position: -528px 0;}
}

@-moz-keyframes spinner {
	0% { background-position: 0 0;}
	100% { background-position: -528px 0;}
}

@-ms-keyframes spinner {
	0% { background-position: 0 0;}
	100% { background-position: -528px 0;}
}

@-o-keyframes spinner {
	0% { background-position: 0 0;}
	100% { background-position: -528px 0;}
}





/* Fade-in */
@-webkit-keyframes fade-in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-moz-keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-ms-keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/* Move-up */
@-webkit-keyframes move-up {
	0% {-webkit-transform: translateX(100%);}
}
@-moz-keyframes move-up {
	0% {-moz-transform: translateX(100%);}
}
@-ms-keyframes move-up {
	0% {-ms-transform: translateX(100%);}
}
@-o-keyframes move-up {
	0% {-o-transform: translateX(100%);}
}


/* Move-right */
@-webkit-keyframes move-right {
	0% {-webkit-transform: translateX(-100%);}
}
@-moz-keyframes move-right {
	0% {-moz-transform: translateX(-100%);}
}
@-ms-keyframes move-right {
	0% {-ms-transform: translateX(-100%);}
}
@-o-keyframes move-right {
	0% {-o-transform: translateX(-100%);}
}


/* Move-up-with-margin */
@-webkit-keyframes move-up-100 {
	0% {
		-webkit-transform: translateY(100px);
		opacity: 0;
	}
}
@-moz-keyframes move-up-100 {
	0% {
		-moz-transform: translateY(100px);
		opacity: 0;
	}
}
@-ms-keyframes move-up-100 {
	0% {
		-ms-transform: translateY(100px);
		opacity: 0;
	}
}
@-o-keyframes move-up-100 {
	0% {
		-o-transform: translateY(100px);
		opacity: 0;
	}
}


/* Pull down */
@-webkit-keyframes pull-down {
	0% {-webkit-transform: translateY(-50%);}
}
@-moz-keyframes pull-down {
	0% {-moz-transform: translateY(-50%);}
}
@-ms-keyframes pull-down {
	0% {-ms-transform: translateY(-50%);}
}
@-o-keyframes pull-down {
	0% {-o-transform: translateY(-50%);}
}

/* Reveal */
@-webkit-keyframes reveal {
	0% {height: 0; opacity: 0;}
}
@-moz-keyframes reveal {
	0% {height: 0; opacity: 0;}
}
@-ms-keyframes reveal {
	0% {height: 0; opacity: 0;}
}
@-o-keyframes reveal {
	0% {height: 0; opacity: 0;}
}




/* Hide */
@-webkit-keyframes hide {
	0% {opacity: 1;}
	100% {height: 0; opacity: 0;}
}
@-moz-keyframes hide {
	0% {opacity: 1;}
	100% {height: 0; opacity: 0;}
}
@-ms-keyframes hide {
	0% {opacity: 1;}
	100% {height: 0; opacity: 0;}
}
@-o-keyframes hide {
	0% {opacity: 1;}
	100% {height: 0; opacity: 0;}
}

}
