@mixin tt-components {
	
.icon-home.v-nativebutton:before, .icon-home > .v-button-wrap:before, .icon-home.v-label:before, .v-menubar-menuitem-icon-home:before {
	content: "\2302";
}

.icon-doc.v-nativebutton:before, .icon-doc > .v-button-wrap:before, .icon-doc.v-label:before, .v-menubar-menuitem-icon-doc:before {
	content: "\1f4c4";
}

.icon-edit.v-nativebutton:before, .icon-edit > .v-button-wrap:before, .icon-edit.v-label:before, .v-menubar-menuitem-icon-edit:before {
	content: "\270e";
}

.icon-delete.v-nativebutton:before, .icon-delete > .v-button-wrap:before, .icon-delete.v-label:before, .v-menubar-menuitem-icon-delete:before {
	content: "\e729";
}
	
.hide-button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #525457), color-stop(1, #46474a) );
	background:-moz-linear-gradient( center top, #525457 5%, #46474a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#525457', endColorstr='#46474a');
	background-color:#525457;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #525457;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	/* height:20px; */
	/* line-height:20px; */
	/* width:86px; */
	text-decoration:none;
	text-align:center;
}
.hide-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #46474a), color-stop(1, #525457) );
	background:-moz-linear-gradient( center top, #46474a 5%, #525457 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#46474a', endColorstr='#525457');
	background-color:#46474a;
}.hide-button:active {
	position:relative;
	top:1px;
}

.collapse-panel{
	transform: rotate(270deg) ;
	-webkit-transform: rotate(270deg) ;
	-moz-transform: rotate(270deg) ;
	-o-transform: rotate(270deg) ;
	-ms-transform: rotate(270deg) ;
}

.show-button{
	background-color: transparent !important;
	border-color: transparent !important;
}

.menu-hidden{
	overflow: auto;
	height: 100%;
	margin-right: 7px;
	padding-right: 7px;
}
.menu-hidden:hover { 
	overflow-y:scroll; 
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
	padding: 8px
}
::-webkit-scrollbar-thumb {
	background:#999;
	border: thin solid gray;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:#7d7d7d;
}		

.myField{
	color: #0000FF !important;
}

.myDateField  > .v-datefield-button{
	 height: 26px; 
}
 
 .v-datefield-button:after {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
/*	content: '...' */

	opacity: 0.4;
    filter: alpha(opacity=40); 

	content: url(images/calendar.png);
}
 
.v-datefield-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#f6f6f6');
	background-color:#f6f6f6;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	
	height:26px;
	line-height:26px;
	/* width:30px; */
	width:15%;
	max-width: 26px;
	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.v-datefield-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#f6f6f6');
	background-color:#f6f6f6;
}.v-datefield-button:active {
	position:relative;
	top:1px;
}

.dashboard .v-datefield-textfield{
	/* width: 120px; */
	/* width: 75%; */
	width: 260px;
	/* width: auto; */
}
/* 
.my-dash-item{
	min-height: 150px;
	min-width: 150px;
	border-style: solid;
}
 */
.v-filterselect{
	width: 300px;
}

.v-textfield{
	width: 300px;
}

.my-menubar{
	background:#46474a !important;
}

.my-menubar > .v-menubar{
	background:#46474a !important;
	border: 1px solid #434445;
}

.my-menubar  > .v-menubar > .v-menubar-menuitem {
	background-color:transparent;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #434445;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:70px;
	text-decoration:none;
	text-align:center;
	
	padding: 5px;
	width: auto;
}
.my-menubar > .v-menubar > .v-menubar-menuitem:hover {
/* 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
 */	
	color: #e1e1e1;
	
}.my-menubar > .v-menubar > .v-menubar-menuitem:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */

.myFieldReadOnly{
	color: #D3D3D3 !important;
}

.collapsed-panel{
	width: 50px;
	background:#46474a !important;
}

.my-dash-block{
	/* display: inline-block; */
	word-wrap:break-word;
}

.my-label-overflow{
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-icab-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;

	overflow: hidden;
	white-space: nowrap;
}

.v-tabsheet-scrollerPrev-disabled:after{
	content: "<";
	font-weight:bold;
	font-size: 8pt;
	border: none !important;
	background: transparent !important;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
	box-shadow: none;
}

.v-tabsheet-scrollerPrev:after{
	content: "<";
	font-weight:bold;
	font-size: 8pt;
	border: none !important;
	background: transparent !important;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
	box-shadow: none;
}

.v-tabsheet-scrollerNext:after{
	content: ">";
	font-weight:bold;
	font-size: 8pt;
	border: none !important;
	background: transparent !important;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
	box-shadow: none;
}

.my-dash-panel{
	border-style: dashed;
}

.my-scrollable-panel {
	overflow-y: auto;
}

}
